<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Email Verification</title>

<style>

body{
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(135deg,#4facfe,#00f2fe);
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
}

.container{
    background:white;
    padding:40px;
    width:350px;
    border-radius:10px;
    text-align:center;
    box-shadow:0 10px 25px rgba(0,0,0,0.2);
}

h2{
    margin-bottom:20px;
}

.loader{
    border:5px solid #f3f3f3;
    border-top:5px solid #3498db;
    border-radius:50%;
    width:50px;
    height:50px;
    animation: spin 1s linear infinite;
    margin:0 auto 15px;
}

@keyframes spin{
    0%{transform:rotate(0deg)}
    100%{transform:rotate(360deg)}
}

.login-btn{
    background:#3498db;
    color:white;
    border:none;
    padding:12px 20px;
    border-radius:6px;
    font-size:16px;
    cursor:pointer;
    transition:0.3s;
}

.login-btn:hover{
    background:#217dbb;
}

.hidden{
    display:none;
}

.success-icon{
    font-size:50px;
    color:green;
}

</style>
</head>

<body>

<div class="container">

    <!-- Loader Section -->
    <div id="loader-section">
        <div class="loader"></div>
        <p>Verifying your account...</p>
    </div>

    <!-- Success Section -->
    <div id="success-section" class="hidden">

        <div class="success-icon">✔</div>
        <h2>Account Verified!</h2>

       <a href="http://localhost:5173/login" class="login-btn">
            Go to Login Now
        </a>

    </div>

</div>

<script>

// fake delay (example)
setTimeout(()=>{
    document.getElementById("loader-section").classList.add("hidden")
    document.getElementById("success-section").classList.remove("hidden")
},2000)

</script>

</body>
</html>